
.header{

}

.header_name{

    font-size: 25px;
    margin-left: 110px;
}
.setting_svc{

    height: 50px;
    bottom: 60px;
    cursor: pointer;
    margin-left: 100px;

}


.user_Profile{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}

.picture_human_svc{
    border: 2px solid black;

    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #D9D9D9;
}


.user_name{
    margin-bottom: 10px;
    margin-left: 10px;
    

    font-size: 25px;
}

.user_mail{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 17px;
}





.main2{
    position: relative;
    margin-bottom: 10px;
}

.user_comment{
    font-size: 20px;
    margin-left: 20px;
}

.comment{
    overflow: hidden;
    max-height: 45px;
    transition: max-height 0.3s ease-in-out;

    

    margin-top: -20px;
    margin-bottom:10px;

    font-size:15px;

    max-width: 200px;
    margin-top: -10px;
    margin-left: 20px;

}

.comment.expanded {
    max-height: none; /* 全文表示する場合の高さ */

    max-width: 400px;
  }

  .read_more {
    cursor: pointer;
    color: blue;
    cursor: pointer;
    margin-left: 250px;
  }



  .profile_setting_button {
    background-color: #D9D9D9;
    color: #000000;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    border-radius: 5px;
    width: 350px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 30px;
  }
  
  .profile_setting_button:hover {
    background-color: #f56500;
  }


.tag_svc{
    width:30px;
    height:30px;
    top: 300px;
    left: 300px;
}




.add_svc{
    
    width:50px;
    height:50px;

    position: absolute;
    top: 700px;
    left: 300px;
}