
.header{
position: absolute;
top: 10px;
left: 250px;

}

.header_name{

    font-size: 25px;
    margin-left: 110px;
}
.setting_svc{

    height: 50px;
    bottom: 60px;
    cursor: pointer;
    margin-left: 100px;

}


.user_Profile{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}

.picture_human_svc{
    border: 2px solid black;

    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #D9D9D9;
}


.user_name{
    margin-bottom: 10px;
    margin-left: 10px;
    

    font-size: 25px;
}

.user_mail{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 17px;
}





.main2{
    position: relative;
    margin-bottom: 10px;
}

.user_comment{
    font-size: 20px;
    margin-left: 20px;
}

.comment{
    overflow: hidden;
    max-height: 45px;
    transition: max-height 0.3s ease-in-out;

    

    margin-top: -20px;
    margin-bottom:10px;

    font-size:15px;

    max-width: 200px;
    margin-top: -10px;
    margin-left: 20px;

}

.comment.expanded {
    max-height: none; /* 全文表示する場合の高さ */

    max-width: 400px;
  }

  .read_more {
    cursor: pointer;
    color: blue;
    cursor: pointer;
    margin-left: 250px;
  }



  .profile_setting_button {
    background-color: #D9D9D9;
    color: #000000;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    border-radius: 5px;
    width: 350px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 30px;
  }
  
  .profile_setting_button:hover {
    background-color: #f56500;
  }


.tag_svc{
    width:30px;
    height:30px;
    top: 300px;
    left: 300px;
}




.add_svc{
    
    width:50px;
    height:50px;

    position: absolute;
    top: 700px;
    left: 300px;
}




.App {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: 3px solid gray;
    border-radius: 30px 30px 0 0; /* 上部のみにborder-radiusを設定 */

    width: 90%; /* 幅を狭くする */
    margin: 0 auto; /* 横に中央寄せする */
    height: 480px;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    border-radius: 3px;
  }
  
  .tab {
    padding: 20px 40px;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    border: none;
    

  }
  
  .tab.active {
    border-bottom: 2px solid lightblue;
  }
  
  .content {
    padding: 20px;
    flex-wrap: wrap; /* 写真が横に並ぶように改良 */
    justify-content: space-between; /* 写真の間隔を均等に配置 */
  }