.tagSearch{
    text-align: left;
    font-family: "Hiragino Sans";
    font-size: 20px;
    color: #8C6A63;
}

.displayAll{
    text-align: left;
    font-family: "Hiragino Sans";
    font-size: 20px;
    color: #8C6A63;
}

.button{
    width: 235px;
    height: 48px;
    background-color: #8C6A63;
    color: white;
    font-size: 20px;
    display: inline-block;
    
}
