.container{
    position: relative;
}
p.itemname{
    position: absolute;
    font-family: "Hiragino Sans";
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* padding: 0%;
    margin: 0; */
}

.itemimg{
    text-align: center;
}

.bl_flexContainer{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 20px;
}

.el-flexItem{
    width: calc(100% /3-40px / 3);
    height: 300px;
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: white;
}