.text_area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:250px;
}
.text_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height:200px;
    background-color: white;
    border: 5px solid #8C6A63;
    border-radius: 30px;
}
.textarea{
    padding:20px;
    width:88%;
    height:78%;
    border:none;
    border-radius: 20px;
}
.textarea:focus {
    outline: none;
}
.button_area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height:80%;
}
.button{
    width:90%;
    height:40px;
    background-color: #8C6A63;
    border-radius: 30px;
}